body{
display: grid;
/* grid-template-rows:  10% 90%; */
/* grid-template-columns: 50% 50% ; */
grid-template-areas:"a a a"  "b c d" "e e e";
/* grid-template-rows: 180px 250px 250px 100px ; */
/* grid-template-columns: 400px 500px 400px ; */
grid-template-rows: 1fr 4fr 1fr;
grid-template-columns: 1fr 3fr 1fr;
}
.url{
    text-decoration: none;
    color: red;
}

.li {
    display: f ;
    grid-area: e ;
    background-color: green;

 }
 .home{
     background-color: green;
 }

.dt {
    display: block;

    
grid-area: b;
background-color: green;
}

#mein{
    

    background-color: brown;  
    font-size: 100px ;

    grid-area: a ; 
}
.ds{
    display: block;
 grid-area:d;   background-color:green
}
 
#bn{
    display: flex;
    background-color: lightblue;
    grid-area: c;
}
